#lotteryApp {
	background-color: #edd02d;
	width: 510px;
	height: 275px;
	border-radius: 25px;
	font-family: 'Roboto', sans-serif;
	-webkit-box-shadow: 6px 7px 15px 3px;
	-moz-box-shadow: 6px 7px 15px 3px;
	box-shadow: 6px 7px 15px 3px;
}

.logo {
	float: left;
	width: 64px;
	height: 64px;
	padding-left: 5px;
	padding-top: 5px;
}

.headline {
	float: left;
	padding-left: 5px;
}

#pickButton {
	float: left;
	padding-left: 165px;
}

.mainNumberSpanAndTitle {
	
	padding-top: 120px;
	padding-left: 50px;
}

.bonusNumberSpanAndTitle {
	
	padding-top: 5px;
	padding-left: 50px;
}

.goodLuck {
	float: left;
	padding-left: 185px;
}
